body {
    background-color: rgb(212, 169, 28);
    border-width: 50px;
    border-style: double;
    min-width: 360px;
    text-align: center;
    position: relative;
}
main {
    border-width: 25px;
    border-color: rgb(172, 108, 13);
    border-style: ridge;
}
div.centered {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    padding-top: 75px;
}
header {
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    border-color: brown;
    border-width: 50px;
}
p, div{
    font-size: 20px;
}
p, main, footer {
    font-family: 'Oswald', sans-serif;
}
img {
    width: 100%;
}
